*{
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "CustomFont";
  src: url(./ProductDesign.ttf);
}
body{
  background-color: #F6F4EB;
  font-size: 62.5%;
}

button{
  background-color: #749BC2;
  border: none;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
.header{
  width: 90vw;
  margin: auto;
  background-color:#4682A9;
  font-family: "CustomFont";
  color: #fff;
  text-shadow: 1px 1px black;
  letter-spacing: 10px;
  text-align: center;
  padding: 1rem;
  font-size: 1.4rem;
}

.Info{
  background-color: #749BC2;
  width: 20rem;
  font-size: 1rem;
  padding: 1rem;
}


.Boxes-Flex{
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  margin: 1rem auto;
  justify-content: space-between;
  background-color: #F6F4EB;
}
.Media{
  background-color: #749BC2;
  padding: 1rem;
  width: 50%;
}

.How-Does-It-Work{
  background-color: #749BC2;
  padding: 1rem;
  font-size: 1rem;
  width: 20rem;
  height: 15rem;
}

.About-Us{
  background-color: #749BC2;
  font-size: 1rem;
  padding: 1rem;
  width: 20rem;
}
/* Algemene box stijl */
.Box-Style {
  background-color: #749BC2;
  padding: 1rem;
  font-size: 1rem;
  width: 20rem;
  height: auto;
  box-sizing: border-box;
  margin-bottom: 1rem;
}
.boxes-info{
  display: flex;
  flex-direction: column;
  width: 20rem;
}
/* Mobiel gedrag */
@media (max-width: 970px) {
  .box-toggle {
    background-color: #749BC2;
    color: white;
    cursor: pointer;
    padding: 1rem;
  }

  .box-toggle-button {
    font-size: 1.6rem;
    font-weight: bold;
  }

  .box-content {
    display: none;
    margin-top: 1rem;
    color: white;
  }

  .box-toggle.active .box-content {
    display: block;
  }
      .grid {
    flex-direction: column;
    align-items: center;
  }
   .Boxes-Flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
  }
    .Box-Style {
    width: 90vw; /* kleiner dan 100vw zodat het niet tegen de rand aanplakt */
    max-width: 20rem;
  }
}

/* Desktop gedrag */
@media (min-width: 971px) {
  .box-toggle {
    cursor: default;
    pointer-events: none;
  }

  .box-toggle-button {
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .box-content {
    display: block;
  }

}
